html {
  background: white;
  font-family: 'Courier New', Courier, monospace;
}

body {
  text-align: center;
}

h1 {
  margin: 0;
  margin-top: 25px;
  color: #102637;
  font-size: 20px;
}

.frame {
  border: 15px solid #102637;
  border-radius: 3px;
  margin: 0 auto;
  margin-bottom: 100px;
  width: 400px;
}

table {
  background: #29506D;
  width: 100%;
  text-align: center;
  border: 25px solid white;
  border-collapse: collapse; 
}

td {
  color: #4C7EA4;
  text-align: start;
  padding-left: 10px;
  padding-top: 5px;
}

.labels td {
  padding: 0;
  border-bottom: 2px solid white;
  color: white;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 10px;
}

.char {
  color: #79C5FF;
  text-align: end;
  padding-right: 10px;
}